<footer class="page-footer">
  <ul class="important-numbers">
    <li><strong>First Aid Phone</strong> (text, call, WhatsApp): (360) 434-7976</li>
    <li><strong>Golf Cart Phone</strong> (text, call, WhatsApp): (360) 434-3821</li>
    <li class="chaplain"><strong>Chaplain Phone</strong>:<br>Barbara ten Hove (206) 451-0312 or Jaco ten Hove (206) 200-5403</li>
  </ul>
  <p class="web-edition">Web edition: <a href="https://news.eliotinstitute.org">news.eliotinstitute.org</a></p>
</footer>
