<footer class="page-footer">
  <ul class="important-numbers">
    <li><strong>First Aid Phone:</strong> (text, call, WhatsApp) (360) 434-7976</li>
    <li><strong>Golf Cart Phone:</strong> (text, call, WhatsApp) (360) 434-3821</li>
    <li class="chaplain"><strong>Chaplain Phone:</strong><br><span class="nowrap">Barbara ten Hove (206) 451-0312</span> or <span class="nowrap">Jaco ten Hove (206) 200-5403</span></li>
    <li><strong>Morning slideshow photos:</strong> <a href="mailto:drjudyo@gmail.com">drjudyo@gmail.com</a></li>
    <li><strong>Newsletter items:</strong> <a href="mailto:bgschiller@gmail.com">bgschiller@gmail.com</a></li>
    <li class="web-edition">Find an online version of this newsletter at <a href="https://news.eliotinstitute.org">news.eliotinstitute.org</a></li>
  </ul>
</footer>
