---
const { day, breakBefore = false, breakAfter = false } = Astro.props;
---
<div
  class:list={["schedule", `schedule--${day}`]}
  style={breakBefore ? "break-before: page" : breakAfter ? "break-after: page" : undefined}
>
  <slot />
</div>
